.dndflow {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
  }
  
  .dndflow aside {
    border-top: 1px solid #000000;
    padding: 15px 10px;
    font-size: 12px;
    background: #fefdfdb2;

  }
  
  .dndflow aside .description {
    margin-bottom: 10px;
  }
  
  .dndflow .dndnode {
    width:80px;
    height: 20px;
    padding: 20px;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: grab;
  }
  
  .dndflow .dndnode.input {
    border-color: #0041d0;
  }
  
  .dndflow .dndnode.output {
    border-color: #ff0072;
  }
  
  .dndflow .reactflow-wrapper {
    flex-grow: 1;
    width: 80vw;
	  height: 70vh;
  }
  
  .dndflow .selectall {
    margin-top: 10px;
  }
  
  @media screen and (min-width: 768px) {
    .dndflow {
      flex-direction: row;
    }
  
    .dndflow aside {
      width: 20%;
      max-width: 250px;
    }
  }
  
  .settings-panel {
    width:80px;
    height: 20px;
    padding: 20px;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    cursor: grab;
  }
  
  .settings-panel input {
    display: flex;
    align-items: center;
    width: 200px;
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #e0e0e0;
  }
  
  .back-button svg {
    width: 24px;
    height: 24px;
    fill: #555555;
  }
  
  .back-button svg path {
    stroke-width: 2;
  }
  